.page_head {
    border-radius: 0 0 5px 5px;
    border-top: none;
}

.page_head .panel-heading {
    border: 0px;
    border-radius: 0px;
}

.page_head .navbar {
    margin-bottom: 0px;
    border-radius: 0 0 3px 3px;
    border: 0px;
}

.page_footer {
    border-radius: 5px 5px 0 0;
    margin-bottom: 0px;
    border-bottom: none;
}

.page_footer .panel-footer {
    border-radius: 4px 4px 0 0;
    border: none;
    text-align: right;
}

.page_footer span {
    display: inline-block;
}

.page_datetime {
    text-shadow: 1px 1px 1px #161824;
    display: inline-block;
    line-height: 20pt;
    vertical-align: middle;
    font-weight: normal;
}


.table>tbody>tr .page_datetime{
    display: table-cell;
}

.page_author {
    line-height: 20pt;
    vertical-align: middle;
    font-weight: bolder;
    font-size: 16px;
}

.page_blog_title {
    font-size: 18pt;
    font-weight: bolder;
    padding: 0 15px 0 5px;
}

.page_blog_footer>span {
    display: inline-block;
}

.checkbox_true,
.checkbox_false {
    list-style-type: none;
    margin: 0 0 0 -20px;
    padding: 0px;
}

.checkbox_true:before {
  font-weight: bold;
  content: "\2611\  ";
  font-size: 15pt;
  line-height: 15pt;
}

.checkbox_false:before {
  font-weight: bold;
  content: "\2610\  ";
  font-size: 15pt;
  line-height: 15pt;
}

.page_blog_content table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #a1afc9;
  background-color: #e9f0f6;
  word-break: break-all;
}

.page_blog_content table > thead > tr > th,
.page_blog_content table > thead > tr > td {
  border-bottom-width: 2px;
}

.page_blog_content table > thead > tr > th,
.page_blog_content table > tbody > tr > th,
.page_blog_content table > tfoot > tr > th,
.page_blog_content table > thead > tr > td,
.page_blog_content table > tbody > tr > td,
.page_blog_content table > tfoot > tr > td {
  border: 1px solid #a1afc9;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

.page_blog_content table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #a1afc9;
}

.page_blog_content table > caption + thead > tr:first-child > th,
.page_blog_content table > colgroup + thead > tr:first-child > th,
.page_blog_content table > thead:first-child > tr:first-child > th,
.page_blog_content table > caption + thead > tr:first-child > td,
.page_blog_content table > colgroup + thead > tr:first-child > td,
.page_blog_content table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.page_blog_content table > tbody + tbody {
  border-top: 2px solid #a1afc9;
}

.page_blog_content table > tbody > tr:nth-of-type(odd) {
  background-color: #F3F8F1;
}

.page_blog_comment {
    color: #161824;
    border: none;
    border-radius: 0px;
    background-color: inherit;
}

.page_blog_comment>pre {
    color: #161824;
    border: solid 1px #161824;
}

.error {
    color: #be002e;
    font-weight: normal;
    text-shadow: 0px 0px 1px #dc3022;
  }

.page_nav img {
  max-width: 100%;
  _background: none;
}

body {
  position: relative;
}

.affix {
  top: 20px;
}

.affix-bottom{
  position: absolute;
}

#affix-nav-ul ol{
  padding-left: 0px;
}
 
#affix-nav-ul li{
    position: relative;
    display: block;
    margin: 0px;
    background-color: #e9f0f6;
    padding: 0px;
    overflow:hidden;
}

#affix-nav-ul li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    white-space: nowrap;
    border-top: 1px solid #a1afc9;
}

#affix-nav-ul > li:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

#affix-nav-ul > li:first-child > a {
    border-top-width: 0;
}

#affix-nav-ul > li:last-child {
    margin-bottom: 0px;
    border-bottom-width: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#affix-nav-ul li.active > a, 
#affix-nav-ul li.active > a:hover, 
#affix-nav-ul li.active > a:focus {
  color: #161824;
  text-shadow: 1px 1px 1px #88ada6;
  font-weight: bold;
}

#affix-nav-ul > li > ol > li > a {
  padding-left: 25px;
}

#affix-nav-ul > li > ol > li > ol > li > a {
  padding-left: 35px;
}

#affix-nav-ul > li > ol > li > ol > li > ol > li > a {
  padding-left: 45px;
}

#affix-nav-ul > li > ol > li > ol > li > ol > li > ol > li > a {
  padding-left: 55px;
}

#affix-nav-ul > li > ol > li > ol > li > ol > li > ol > li > ol > li > a {
  padding-left: 65px;
}

#affix-nav-ul li > ol > li {
    display: none;
}

#affix-nav-ul li[class|=active] > ol > li {
    display: initial;
}

#ds-reset .ds-powered-by {
  display: none;
}

#ds-reset, #ds-related-reads {
    padding: 10px 15px;
}

#ds-thread #ds-reset .ds-highlight,
#ds-thread #ds-reset .ds-comment-body a,
#ds-thread #ds-reset a{
  color: #003372 !important;
}

#ds-thread #ds-reset .ds-time,
#ds-thread #ds-reset .ds-comment-body p {
  color: #161824 !important;
}

#ds-thread #ds-reset .ds-time,
#ds-thread #ds-reset .ds-comment-body a,
#ds-thread #ds-reset a {
  font-weight: bold;
}

#ds-thread #ds-reset .ds-textarea-wrapper textarea {
  display: block;
  width: 100%;
  height: 54px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #161824;
  background-image: -webkit-linear-gradient(top, #F3F8F1 0%, #a1afc9 100%);/**/
  background-image:      -o-linear-gradient(top, #F3F8F1 0%, #a1afc9 100%);/**/
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F3F8F1), to(#a1afc9));/**/
  background-image:         linear-gradient(to bottom, #F3F8F1 0%, #a1afc9 100%);/**/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
  border: 1px solid #161824 !important;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #88ada6;
  -webkit-box-shadow: 0 0px 5px #88ada6;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  resize: none;
}

#ds-thread #ds-reset .ds-textarea-wrapper {
    border: none !important;
    overflow: inherit !important;
}

#ds-recent-comments {
    position: relative;
    display: block;
    background-color: #e9f0f6;
    border-radius: 5px;
}

#ds-recent-comments li.ds-comment:nth-of-type(n) {
    padding: 10px 15px !important;
}

#ds-recent-comments li.ds-comment:nth-of-type(n):hover {
  color: #161824;
  text-decoration: none;
  background-color: #F3F8F1;
}

#ds-recent-comments li.ds-comment:nth-last-of-type(1):hover {
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
}

#ds-recent-comments li.ds-comment:nth-of-type(1){
  border-top: none;
}

#ds-recent-comments li.ds-comment .ds-time {
    color: #161824 !important;
    font-size: 12px !important;
    text-shadow: 1px 1px 1px #161824;
    display: inline-block;
    line-height: 20pt;
    vertical-align: middle;
    font-weight: normal;
}
