body {
  margin-top: 60px;
}

.navbar-right {
  margin-right: 15px !important;
}

.icon {
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
}

.page_datetime {
    text-shadow: 1px 1px 1px #161824;
    display: inline-block;
    line-height: 20pt;
    font-weight: normal;
    vertical-align: middle;
}


.table>tbody>tr .page_datetime{
    display: table-cell;
}

.page_author {
    line-height: 20pt;
    vertical-align: middle;
    font-weight: bolder;
    font-size: 16px;
}

.page_blog_title {
  font-size: 20pt;
  font-weight: bolder;
  padding: 10px 0 10px 0;
}

.blog_post_hr {
height: 10px;
border: 0;
box-shadow: inset 0 5px 5px -5px #a1afc9;
}

.task-list {
    list-style-type: none;
    padding-left: 20px;
}

input.task-list-item-checkbox {
    margin-right: 5px;
}

.page_blog_content table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #a1afc9;
  background-color: #e9f0f6;
  word-break: break-all;
}

.page_blog_content table > thead > tr > th,
.page_blog_content table > thead > tr > td {
  border-bottom-width: 2px;
}

.page_blog_content table > thead > tr > th,
.page_blog_content table > tbody > tr > th,
.page_blog_content table > tfoot > tr > th,
.page_blog_content table > thead > tr > td,
.page_blog_content table > tbody > tr > td,
.page_blog_content table > tfoot > tr > td {
  border: 1px solid #a1afc9;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

.page_blog_content table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #a1afc9;
}

.page_blog_content table > caption + thead > tr:first-child > th,
.page_blog_content table > colgroup + thead > tr:first-child > th,
.page_blog_content table > thead:first-child > tr:first-child > th,
.page_blog_content table > caption + thead > tr:first-child > td,
.page_blog_content table > colgroup + thead > tr:first-child > td,
.page_blog_content table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.page_blog_content table > tbody + tbody {
  border-top: 2px solid #a1afc9;
}

.page_blog_content table > tbody > tr:nth-of-type(odd) {
  background-color: #F3F8F1;
}
.page_blog_content ol {
    padding-inline: 20px;
}

.page_blog_comment_name {
    font-weight: bold;
    vertical-align: middle
}

.page_blog_comment_message,
.page_blog_comment_message_reply {
    display: block;
    unicode-bidi: embed;
    font-size: 11pt;
}

.page_blog_comment_message_reply {
    border: 1px solid #161824;
    background: #f5f5f5;
    padding: 15px;
    margin: 5px 25px;
    font-style: italic;
}

.page_blog_comment {
    color: #161824;
    border: none;
    border-radius: 0px;
    background-color: inherit;
}

.page_blog_comment>pre {
    color: #161824;
    border: solid 1px #161824;
}

.page_tag_dialog>ul {
  width: 480px;
  padding-left: 20px;
  padding-right: 20px;
}

.page_tag_dialog>ul>li {
  display: inline-block;
}

.error {
    color: #be002e;
    font-weight: normal;
    text-shadow: 0px 0px 1px #dc3022;
  }

.page_nav img {
  max-width: 100%;
  background: none;
}

.post_check {
   margin-left: -30px;
}

.page_list_item {
    width:65px;
}

body {
  position: relative;
}

.affix {
  top: 65px;
}

.affix-bottom{
  position: absolute;
}

#affix-nav-ul ol{
  padding-left: 0px;
}
 
#affix-nav-ul li{
    position: relative;
    display: block;
    margin: 0px;
    background-color: #e9f0f6;
    padding: 0px;
    overflow:hidden;
}

#affix-nav-ul li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    white-space: nowrap;
    border-top: 1px solid #a1afc9;
}

#affix-nav-ul > li:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

#affix-nav-ul > li:first-child > a {
    border-top-width: 0;
}

#affix-nav-ul > li:last-child {
    margin-bottom: 0px;
    border-bottom-width: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#affix-nav-ul li.active > a, 
#affix-nav-ul li.active > a:hover, 
#affix-nav-ul li.active > a:focus {
  color: #161824;
  text-shadow: 1px 1px 1px #88ada6;
  font-weight: bold;
}

#affix-nav-ul > li > ol > li > a {
  padding-left: 25px;
}

#affix-nav-ul > li > ol > li > ol > li > a {
  padding-left: 35px;
}

#affix-nav-ul > li > ol > li > ol > li > ol > li > a {
  padding-left: 45px;
}

#affix-nav-ul > li > ol > li > ol > li > ol > li > ol > li > a {
  padding-left: 55px;
}

#affix-nav-ul > li > ol > li > ol > li > ol > li > ol > li > ol > li > a {
  padding-left: 65px;
}

#affix-nav-ul li > ol > li {
    display: none;
}

#affix-nav-ul li[class|=active] > ol > li {
    display: initial;
}

img[class='emoji']{
    vertical-align: text-bottom;
}

@media (max-width: 767px) {
  .page_tag_dialog>ul {
    background-color: #a1afc9 !important;
    border-radius: 0;
  }
}

h1,
.h1 {
  font-size: 17.5px;
}

h2,
.h2 {
  font-size: 17px;
}

h3,
.h3 {
  font-size: 16.5px;
}

h4,
.h4 {
  font-size: 16px;
}

h5,
.h5 {
  font-size: 15.5px;
}

h6,
.h6 {
  font-size: 15px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: bold;
}

blockquote {
    padding: 10px 15px;
    margin: 0 0 15px;
    font-size: 14px;
    border-left: 3px solid #a1afc9;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.photo-div {
    animation: photo 1s;
    -moz-animation: photo 1s;
    -webkit-animation: photo 1s;
    -o-animation: photo 1s;
}
  
.thumbnail > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
    
.modal-photo {
    top: 50%;
    transform: translateY(-50%) !important;
}
    
@keyframes photo {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes photo {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes photo {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-o-keyframes photo {
    from {opacity: 0;}
    to {opacity: 1;}
}

.brb {
    border-bottom: 0px;
}

.tagcloud {
    width: unset !important;
    overflow: hidden;
}

.tagcloud--item {
    padding: 2px 4px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

.tagcloud--item:hover {
    color: #161824;
    text-shadow: 1px 1px 1px #88ada6;
    font-weight: bold;
    font-size: 18pt;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 1 !important;
    z-index: 100 !important;
}
  
.bilibili {    
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
}

#comment_all_count.list-group-item:last-child {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
