---
layout: default
title: "归档"
---
{% capture archives_year %}1900{% endcapture %}
{% capture archives_month %}0{% endcapture %}
{% capture is_first_year %}1{% endcapture %}
{% capture expanded %}true{% endcapture %}

<div class="panel panel-default" id="archive" role="tablist" aria-multiselectable="true">
{% for post in site.posts reversed  %}
    {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture post_month %}{{ post.date | date: '%B' }}{% endcapture %}
    {% if archives_year != post_year %}
        {% assign archives_year = post_year %}
        {% if is_first_year != "1" %}
    </div>
        {%else%}
            {% assign is_first_year = "0" %}
        {% endif %}
    <div class="panel-heading active" role="tab" id="heading_{{ archives_year }}">
        <a class="collapsed " role="button" data-toggle="collapse" data-parent="#archive" href="#collaps_{{ archives_year }}" aria-expanded="{{ expanded }}" aria-controls="collaps_{{ archives_year }}">
            <span class="page_blog_title">{{ archives_year }}</span>
        </a>
    </div>
    <div id="collaps_{{ archives_year }}" class="list-group panel-collapse collapse{% if expanded != "false" %} in{% endif %}" role="tabpanel" aria-labelledby="heading_{{ archives_year }}">
        {% if expanded != "false" %}{% assign expanded = "false" %}{% endif %}
    {% endif %}
    {% if archives_month != post_month %}
        {% assign archives_month = post_month %}
    <div class="panel-body"><h3>{{ post_month }}</h3></div>
    {% endif %}
    <a href="{{post.url}}" class="list-group-item">
        <span class="page_datetime">{{ post.date | date: "%d" }}</span>
        {{ post.title }}
    </a>
{% endfor %}
    </div>
</div>