---
layout: default
title: "归档"
---
<!-- Bootstrapt 5 completed -->
{% capture archives_year %}1900{% endcapture %}
{% capture archives_month %}0{% endcapture %}
{% capture is_first_year %}1{% endcapture %}
{% capture expanded %}true{% endcapture %}
<div id="archive">
  <div class="card">
{% for post in site.posts %}
  {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture post_month %}{{ post.date | date: '%-m' }}{% endcapture %}
  {% if archives_year != post_year %}
    {% assign archives_year = post_year %}
    {% if is_first_year != "1" %}
      </div>
    {% else %}
      {% assign is_first_year = "0" %}
    {% endif %}
    <div class="card-header" id="heading_{{ archives_year }}">
      <a class="btn" data-bs-toggle="collapse" href="#collaps_{{ archives_year }}">
        <h2 class="mb-0">{{ archives_year }}</h2>
      </a>
    </div>
    <div id="collaps_{{ archives_year }}" class="list-group list-group-flush collapse{% if expanded != "false" %} show{% endif %}" data-bs-parent="#archive">
    {% if expanded != "false" %}{% assign expanded = "false" %}{% endif %}
  {% endif %}
  {% if archives_month != post_month %}
    {% assign archives_month = post_month %}
      <div class="card-body border-bottom">
        <h5 class="mb-0">{% case post_month %}
              {% when '1' %}一月
              {% when '2' %}二月
              {% when '3' %}三月
              {% when '4' %}四月
              {% when '5' %}五月
              {% when '6' %}六月
              {% when '7' %}七月
              {% when '8' %}八月
              {% when '9' %}九月
              {% when '10' %}十月
              {% when '11' %}十一月
              {% when '12' %}十二月
            {% endcase %}</h5>
      </div>
  {% endif %}
      <a href="{{post.url}}" class="list-group-item">
        <span class="fw-bold">{{ post.date | date: "%d" }}</span> {{ post.title }}
      </a>
{% endfor %}
    </div>
    <div class="card-footer text-center text-secondary">
      &lt;!-- 到底了 --&gt;
    </div>
  </div>
</div>