---
layout: default
title: "留言本"
use_code: true
issue: 3
---
<h1>github comments的测试用留言本</h1>
<div class="table-responsive">
<pre><code>       sGes                                                                               
      teGbbbbbt                                    sesokt                       sesekt    
     eu   soGu                                      ebbo                         ebbo     
   sGbu    so                                  se   skG                          skG      
  sGubu   te                               te sGu   skG                          skG      
  Getbu  ebbbe    tu   sus     tu      ees  esGbbbu skG  su     sus       oe     skG  oo  
 eGstbusueeGbbe  obbGsskbks  tuGbe   subbbbkt tbu   skG tkbe   okbbes   subbkt   skG obkt 
sGu tbkoo   okks  ebe  Gbe  tbusGbo skGokbko  tbu   skGostbG  ebosubks skGsokbe  skGo tku 
tbe tbu t    ebt  ebo  ebo  tbu sGGsskG  st   tbu   skGs skG  ebo  Gks skG  obe  skGs  o  
obe tbu ubbbbbbt  ebo  ebo  tbu tu  skG sGus  tbu   skG  skG  ebo  Gks skG  obe  skG se   
obu tbu t    tks  ebo  ebo  tbuee   skbkeubbt tbu   skG  skG  ebo  Gks skG  obe  skGtGbu  
tbkstks t    ee   ebo  ebo  tbkt      ee  ubt tbu   skG  skG  ebo  Gks skG  obe  skkt Gbt 
 Gbuus  ubbbbG    ebo  ubo  tbu       t   ubt tbu   skG  skG  ebo  Gks skG  obe  skG  obo 
 tkbe   t   os    ebesoebo  obu      ubbkoubt ebktt obbGtskG  ubkesGks tbbutobe  skGs ebuo
  tkbus t to      tbbo tbbo etGusse tbbbbbes skbbGs etokbbe  sttGbbus  osebbko   tbbkoskko
    oGbbGo         ot   et    suut  ot  oe     tus     sus       et       su      tut  et
    
　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　本　　　　　　　　
　　　　　言言　　　　　　　　　　　　　　　　本留言　　　　　　　　　　　　　　　本本　　　　　　　
　　　　言　　　　　言留留本　　　　　　　　　　　言　　　　　　　　　　　　　　　　本　　　　　　　
　　留言　　　言留言　　言　　　　　　　　　　　　　　本留留留　　　　　　　　　　　本　言留本　　　
　　本　　言　　　本　　本　　　　　言留留留留留留留留　　　　　　　　　　　　留留留留言　　　　　　
　　本　　本言　本　　　本　　　　　　　　　　　　　　　　　　　　　　　　　言　　言本　　　　　　　
　　本本留　　本　　留留　　　　　　　　　　言留留留留本　　　　　　　　　　　　本留留　　　　　　　
　　本本　　本本　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　言本本言　　　　　　
　　　　　　本　留留留言　　　　　　　　　　留留留留留本　　　　　　　　　　　本本　本　言　　　　　
　　　言留言本本　　　言　　　　　　　　　　　　　　　　　　　　　　　　　　　言　　本　　留　　　　
　　　本　　　本　　　言　　　　　　　　　本　　留留留留本　　　　　　　　　言　　　本　　　留言　　
　　　本　言留留留　　本　　　　　　　　　　留本　　　留　　　　　　　　　本本留留留留留本　　留留言
　　　本　　　本　　本本　　　　　　　　　　本　　　　本　　　　　　　　本　　　　　本　　　　　　　
　　　本留留留留留留留　　　　　　　　　　　言留留留留言　　　　　　　　　　　　　本本　　　　　　　
　　　　　　　　　　言　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　本　　　　　　　　</code></pre>
</div>

<div id='comments' class="panel panel-default">
  <div id='list_comment_form' class="list-group">
    {% if page.issue %}
    <div id="comment_form" class="list-group-item"></div>
    {% else %}
    <div class="list-group-item">
    评论已关闭。
    </div>
    {% endif %}
    {% if page.issue %}
    <div id="div_comments" class="list-group-item" style="border-bottom:0px">
      <strong>评论共<span comments-count="{{ page.issue }}"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></span>条</strong>
    </div>
    {% endif %}
  </div>
  <div id="git_comments" class="list-group"></div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="modal_error" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="errorModalLabel">评论失败</h4>
      </div>
      <div id="error_message" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<script src="{{ "/js/comment.min.js"}}"></script>
<script src="{{ "/js/old-comments.js"}}"></script>
<script type="text/javascript">
GithubComments.Init("JiYouMCC", "JiYouMCC.github.io", "ca1f2f2f0b71983065c5", "48f6a24d710cc1012011fce5824f89a26fc49970");
</script>
<script src="{{ "/js/git-comments-show.js"}}"></script>
<script type="text/javascript">showComments("{{ page.issue }}");showForm("{{ page.issue }}");</script>
