---
layout: default
title: "留言本"
issue: 3
---
<h1>github comments的测试用留言本</h1>

<div class="panel panel-default">
  <div id="comments" class="list-group">
    <div class="list-group-item">
      {% if page.issue %}
      <div id="comment_login">
      <a click="GithubComments.User.Login();">登录</a>
      </div>
      <div id="comment_form" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="name">名字</label>
          <div class="col-sm-10">
            <span id="name" class="page_blog_comment_name"></span>
          </div>
        </div>
        <input id="reply" type="hidden" value="" />
        <div class="form-group">
          <label class="col-sm-2 control-label" for="comment">评论</label>
          <div class="col-sm-10">
            <textarea id="comment" class="form-control" name="comment"></textarea>
          </div>
        </div>
        <div class="text-center">
          <button id="add_comment" class="btn btn-default">评论</button>
        </div>
      </div>
      {% else %}
      评论已关闭。
      {% endif %}
    </div>
    {% if page.issue %}
    <div id="div_comments" class="list-group-item">
      <strong>评论共<span comments-count="{{ page.issue }}"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></span>条</strong>
    </div>
    {% endif %}
  </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="modal_error" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="errorModalLabel">评论失败</h4>
      </div>
      <div id="error_message" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<script src="{{ "/js/comment.min.js"}}"></script>
<script type="text/javascript">
GithubComments.Init("JiYouMCC", "JiYouMCC.github.io", "ca1f2f2f0b71983065c5", "48f6a24d710cc1012011fce5824f89a26fc49970");
</script>
<script src="{{ site.baseurl }}/js/showdown.min.js"></script>
<script src="{{ "/js/git-comments-show.js"}}"></script>
<script type="text/javascript">showComments("{{ page.issue }}");showForm();</script>
