---
layout: default
title: "相册"
---
{% assign image_files = site.static_files | where_exp:"item", "item.path contains '/photo/test/'" %}
{% for myimage in image_files %}
  {{ myimage.path }}  
  {% assign words = myimage.path | split: '/' %}
  {{ words[1] }}
{% endfor %}

<div class="row">
  {% assign image_files = site.static_files | where: "photo", true %}
  {% for myimage in image_files %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ myimage.path }}">      
    </div>
  </div>
  {% endfor %}
</div>
