---
layout: default
title: "相册"
---
<div class="row">
  {% assign image_files = site.static_files | where: "photo", true | sort: 'path' %}
  {% for myimage in image_files %}
  {% assign words = myimage.path | split: '/' %}
  {% assign index = words[2] %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ myimage.path }}"> {{ index }}
    </div>
  </div>
  {% endfor %}
</div>
<script type="text/javascript">
  var image_files=[
    {% assign image_files = site.static_files | where: "photo", true %}{% for myimage in image_files %}"{{ myimage.path }}",{% endfor %}];
</script>