---
layout: default
title: "标签"
---
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}

{% assign sortedtags = tags | split:' ' | sort %}

<ul role="tablist">
  {% for tag in sortedtags reversed %}
    {% assign tagitems = tag | split: '#' %}
    <li role="presentation" style="display: inline-block;">
      <h4><a id="tag_{{ tagitems[1] }}" href="#{{ tagitems[1] }}" title="{{ tagitems[1] }}" rel="{{ tagitems[1].size }}" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="true" class="label label-default">{{ tagitems[1] }} <sup>{{ tagitems[2] }}</sup></a></h4>
    </li>
  {% endfor %}
</ul>

<div class="tab-content">
{% for tag in site.tags %}
  <div role="tabpanel" class="tab-pane" id="{{ tag[0] }}">
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th><th></th><th class="text-center page_list_item">分类</th><th class="text-center page_list_item">评论</th>
        </tr>
      </thead>
      <tbody>
        {% for post in tag[1] %}
        <tr>
          <td><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></td>
          <td class="page_datetime text-right">{{ post.date | date: "%Y-%m-%d %H:%M:%S"}}</td>
          <td class="text-center">{% for cat in post.categories %}
                {% if cat != 'sticky' %}
                <span><a class="label label-default" href="/type#{{ cat }}">{{ cat }}</a></span>
                {% endif %}
              {% endfor %}</td>
          <td class="text-center"><span comments-count="{{ post.id }}" class="badge ds-thread-count"></span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
{% endfor %}
</div>
<script type="text/javascript">
  $("#tag_"+location.hash.replace("#","")).tab('show');
</script>
<script src="{{ site.baseurl }}/js/comments-count.js"></script>
