---
layout: default
title: "分类"
---
<ul class="nav nav-tabs nav-justified" role="tablist">
  <li role="presentation" class="active">
    <a id="tag_all" href="#list_all" title="所有文章" rel="{{ site.posts.size }}" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="true">所有文章 <span class="badge">{{ site.posts.size }}</span></a>
  </li>
  {% for cat in site.categories %}
    {% if cat[0] != "sticky" %}
    <li role="presentation">
      <a id="tag_{{ cat[0] }}" href="#list_{{ cat[0] }}" rel="{{ cat[1].size }}" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="true">{{ cat[0] }} <span class="badge">{{ cat[1].size }}</span></a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="list_all">
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="page_list_item"></th><th></th><th></th><th class="text-center page_list_item">分类</th><th class="text-center page_list_item">评论</th>
        </tr>
      </thead>
      <tbody>
        {% for post in site.categories.sticky %}
        <tr>
          <td class="text-center">
            <span class="label label-default">置顶</span>
          </td>
          <td>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </td>
          <td class="page_datetime text-right">{{ post.date | date: "%Y-%m-%d %H:%M:%S"}}</td>
          <td class="text-center">{% for cat in post.categories %}
                {% if cat != 'sticky' %}
                <span><a class="label label-default" href="/type#{{ cat }}">{{ cat }}</a></span>
                {% endif %}
              {% endfor %}</td>
          <td class="text-center">
            {% if post.issue %}<span post-id="{{ post.id }}" comments-count="{{ post.issue }}" class="badge ds-thread-count"></span> {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% for post in site.posts %}
          {% assign sticky = false %}
          {% for cat in post.categories %}
            {% if cat == 'sticky' %}
              {% assign sticky = true %}
            {% endif %}
          {% endfor %}
          {% unless sticky %}
          <tr>
            <td class="text-center">{% if sticky %}<span class="label label-default">置顶</span>{% endif %}</td>
            <td><a href="{{ post.url }}">{{ post.title }}</a></td>
            <td class="page_datetime text-right">{{ post.date | date: "%Y-%m-%d %H:%M:%S"}}</td>
            <td class="text-center">{% for cat in post.categories %}
                  {% if cat != 'sticky' %}
                  <span><a class="label label-default" href="/type#{{ cat }}">{{ cat }}</a></span>
                  {% endif %}
                {% endfor %}</td>
            <td class="text-center">{% if post.issue %}<span post-id="{{ post.id }}" comments-count="{{ post.issue }}" class="badge ds-thread-count"></span>{% endif %}</td>
          </tr>
          {% endunless %}
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
  {% for cat in site.categories %}
    {% if cat[0] != "sticky" %}
    <div role="tabpanel" class="tab-pane" id="list_{{ cat[0] }}">
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="page_list_item"></th><th></th><th></th><th class="text-center page_list_item">分类</th><th class="text-center page_list_item">评论</th>
          </tr>
        </thead>
        <tbody>
          {% for post in cat[1] %}
          <tr>
            <td class="text-center">{% if sticky %}<span class="label label-default">置顶</span>{% endif %}</td>
            <td><a href="{{ post.url }}">{{ post.title }}</a></td>
            <td class="page_datetime text-right">{{ post.date | date: "%Y-%m-%d %H:%M:%S"}}</td>
            <td class="text-center">
              {% if post.categories.size > 0 %}
                {% for cat in post.categories %}
                  {% if cat != 'sticky' %}
                  <span><a class="label label-default" href="/type#{{ cat }}">{{ cat }}</a></span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </td>
            <td class="text-center">{% if post.issue %}<span post-id="{{ post.id }}" comments-count="{{ post.issue }}" class="badge ds-thread-count"></span>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
<script type="text/javascript">
  if (location.hash != "") {
    $("#tag_" + decodeURI(location.hash.replace("#",""))).tab('show');
  }
</script>
<script src="{{ site.baseurl }}/js/git-comments-count.js"></script>
<script src="{{ site.baseurl }}/js/old-comments.js"></script>
