<div id='comments' class="card mb-3">
  <div id='list_comment_form' class="list-group list-group-flush">
    {% if page.issue %}
    <div id="comment_form" class="list-group-item"></div>
    {% else %}
    <div class="list-group-item">评论已关闭。</div>
    {% endif %}
    <div id="div_comments" class="list-group-item">
      <strong>评论共<span comments-count="{{ page.issue }}" class="glyphicon-refresh-animate"><i data-feather="refresh-ccw"></i></span>条</strong>
    </div>
  </div>
</div>

<!-- Error Modal -->
<div class="modal" id="modal_error" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">评论失败</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="error_message" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="{{ "/js/git-comments-show.js"}}"></script>
<script src="{{ "/js/old-comments.js"}}"></script>

<script type="text/javascript">
  if ("{{ page.issue }}") {
    showComments("{{ page.issue }}", "", "{{ page.id }}");
    showForm("{{ page.issue }}");
  }
  OldComments.showOldComments("{{ page.id }}");
</script>
