<div id='comments' class="panel panel-default">
  <div id='list_comment_form' class="list-group">
    {% if page.issue %}
    <div id="comment_form" class="list-group-item"></div>
    {% else %}
    <div class="list-group-item">评论已关闭。</div>
    {% endif %}
    <div class="list-group-item">
      <strong>评论共<span comments-count="{{ page.issue }}"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></span>条</strong>
    </div>
  </div>
  <div id="git_comments" class="list-group"></div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="modal_error" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="errorModalLabel">评论失败</h4>
      </div>
      <div id="error_message" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<script src="{{ "/js/git-comments-show.js"}}"></script>
<script src="{{ "/js/old-comments.js"}}"></script>

<script type="text/javascript">
  OldComments.showOldComments("{{ page.id }}");
  if ("{{ page.issue }}") {    
    showComments("{{ page.issue }}", "", "{{ page.id }}");
    showForm("{{ page.issue }}");
  }
</script>
