<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" title="{{ site.description }}"><i data-feather="home"></i> {{ site.title | escape }} </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i data-feather="folder"></i>&nbsp;分类<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item d-flex justify-content-between" href="/type" rel="{{ site.posts.size }}">所有文章 <span class="badge rounded-pill text-bg-light">{{ site.posts.size }}</span></a>
              </li>
              <li><hr class="dropdown-divider"></li>
              {% for cat in site.categories %}
                {% if cat[0] != 'sticky'%}
                <li>
                  <a class="dropdown-item d-flex justify-content-between" href="/type#{{ cat[0] | uri_escape }}" rel="{{ cat[1].size }}">{{ cat[0] }} <span class="badge rounded-pill text-bg-light">{{ cat[1].size }}</span></a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/archive"><i data-feather="archive"></i></span>&nbsp;归档</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/photos"><i data-feather="camera"></i></span>&nbsp;相册</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i data-feather="tool"></i>&nbsp;工具<span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for tool in site.data.tools %}
              <li>
                <a class="dropdown-item" href="{{ tool.href }}" data-toggle="tooltip" data-placement="bottom" title="{{ tool.title }}" {% if tool.blank %}target="_blank"{% endif %}>{{ tool.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/guestbook"><i data-feather="message-circle"></i>&nbsp;留言</a>
          </li>
        </ul>
        <form class="d-flex" role="search" action="/search/" method="get">
          <div class="input-group">
            <input type="text" class="form-control" name="string" aria-describedby="for-search">
            <button type="submit" class="btn btn-dark"><i data-feather="search"></i></button>
          </div>
        </form>
    </div>
  </nav>
</header>



