<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} - {{ site.title | escape }}</title>
    <link href="{{ "/css/bootstrap.css"}}" rel="stylesheet">
    <link href="{{ "/css/gutools.css"}}" rel="stylesheet">
    <link rel="Shortcut Icon" href="{{ "/favicon.ico" }}" type="image/x-icon">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" hreflang="zh-cn" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <script src="{{ "/lib/jquery.min.js"}}"></script>
    <script src="{{ "/lib/bootstrap.min.js"}}"></script>
    <script type="text/javascript" src="/lib/TagCloud.min.js"></script>
{% if page.use_code %}
    <link rel="stylesheet" href="{{ "/css/docco.css" }}" />
    <script src="{{ "/lib/highlight.pack.js" }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endif %}
{% if page.use_math %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
{% endif %}
{% if page.use_mermaid %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/6.0.0/mermaid.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mermaid/6.0.0/mermaid.css" rel="stylesheet" />
{% endif %}
    <script src="{{ "/js/comment.min.js"}}"></script>
    <script type="text/javascript">
        GithubComments.Init("JiYouMCC", "JiYouMCC.github.io", "ca1f2f2f0b71983065c5", "48f6a24d710cc1012011fce5824f89a26fc49970");
    </script>
</head>
