---
layout: default
---
<div>
  <div class="page-header">
    <div class="page_blog_title">{{ page.title }}</div>
    <span class="page_datetime">{{ page.date | date: "%Y-%m-%d %H:%M:%S" }}</span>
    {% if page.categories.size > 0 %}&nbsp;&nbsp;<span class="glyphicon glyphicon-folder-open"></span>&nbsp;{% for cat in page.categories %}{% if cat != 'sticky' %}&nbsp;<a class="label label-default" href="/type#{{ cat }}">{{ cat }}{% endif %}</a>{% endfor %}{% endif %} 
    {% if page.tags.size > 0 %}&nbsp;&nbsp;<span class="glyphicon glyphicon-tags"></span>&nbsp;{% for tag in page.tags %}&nbsp;<a class="label label-default" href="/tag#{{ tag }}">{{ tag }}</a>{% endfor %}{% endif %}
  </div>
  <article id="blog_content" class="panel-body page_blog_content">
    {{ content }}
  </article>
</div>
<nav>
  <ul class="pager">
    {% if page.next.url %} 
    <li class="previous">
      <a title="{{ page.next.title | date: "%Y-%m-%d %H:%M:%S"}}" href="{{ page.next.url }}"><span class="glyphicon glyphicon glyphicon-chevron-left"></span> 后一篇</a>
    </li>
    {% endif %}
    
    {% if page.previous.url %} 
    <li class="next">
      <a title="{{ page.previous.title | date: "%Y-%m-%d %H:%M:%S"}}" href="{{ page.previous.url }}">前一篇 <span class="glyphicon glyphicon glyphicon-chevron-right"></span></a> 
    </li>
    {% endif %} 
  </ul>
</nav>
{% include comments.html %}
