---
layout: default
---
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="page_blog_title">{{ page.title }}</span>
    <span class="page_datetime">{{ page.date | date: "%Y-%m-%d %H:%M:%S"}}</span>
  </div>
  <article id="blog_content" class="panel-body page_blog_content">
    {{ content | replace: '<li>[ ]', '<li class="post_check list-unstyled"><input type="checkbox" disabled>' | replace: '<li>[x]', '<li class="post_check list-unstyled"><input type="checkbox" disabled checked>'  }}

  </article>
  <div class="panel-footer page_blog_footer">
    <strong>
      {% if page.categories.size > 0 %}<span>分类{% for cat in page.categories %}{% if cat != 'sticky' %}&nbsp;<a class="label label-default" href="/type#{{ cat }}">{{ cat }}{% endif %}</a>{% endfor %}</span>{% endif %}
      {% if page.tags.size > 0 %}<span>标签{% for tag in page.tags %}&nbsp;<a class="label label-default" href="/tag#{{ tag }}">{{ tag }}</a>{% endfor %}</span>{% endif %}&nbsp;
    </strong>
  </div>
</div>
<nav>
  <ul class="pager">
    {% if page.next.url %} 
    <li class="previous">
      <a title="{{ page.next.date | date: "%Y-%m-%d %H:%M:%S"}}" href="{{ page.next.url }}"><span class="glyphicon glyphicon glyphicon-chevron-left"></span> {{ page.next.title }}</a>
    </li>
    {% endif %}
    
    {% if page.previous.url %} 
    <li class="next">
      <a title="{{ page.previous.date | date: "%Y-%m-%d %H:%M:%S"}}" href="{{ page.previous.url }}">{{ page.previous.title }} <span class="glyphicon glyphicon glyphicon-chevron-right"></span></a> 
    </li>
    {% endif %} 
  </ul>
</nav>
{% include duoshuo.html %}
{% if page.comments %} <div id="disqus_thread"></div>
<script>
var disqus_config = function () {
  this.page.url = {{ page.url }};  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = {{ page.id }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  this.language = "zh";
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://www-jithee-name.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>{% endif %}
